*::selection {
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
}

.container {
    background-color: rgb(19, 19, 19);
    margin: 50px auto;
    text-align: center;
    border: 2px solid rgb(34, 34, 34);
    width: 400px;
    border-radius: 0px 0px 10px 10px;
}

input {
    background-color: rgb(34, 34, 34);
    border: none;
    font-size: 26px;
    color: white;
    outline: none;
    padding: 22px 5px 22px 20px;
    width: 374px;
    margin: 0px 0px 10px 0px;
}

button {
    border: none;
    padding: 30px 38px;
    border-radius: 50%;
    margin: 2px;
    font-size: 22px;
    background-color: gainsboro;
}

button:hover {
    background-color: rgba(220, 220, 220, 0.879);
}

button:active {
    background-color: rgba(220, 220, 220, 0.69);
}

.operators {
    background-color: hsl(39, 100%, 50%);
}


.operators:hover {
    background-color: rgba(255, 174, 24, 0.925);
}

.operators:active {
    background-color: rgba(236, 169, 47, 0.849);
}